body {
  position: fixed;
  background-position: right top;
  background-color: #93c3e9; /* Background color */
  background-size: 1000px 900px;
  background-repeat: no-repeat;
}

.limage {
  padding-left: 177px;
  padding-top: 90px;
}

.lheads {
  position: fixed;
  text-align: justify;
  left: 1200px;
  top: 160px;
  color: #ffffff; /* Text color */
}

label {
  display: inline-flex;
  font: 4rem 'times new roman';
}

.lntext {
  position: fixed;
  text-align: center;
  height: 64px;
  width: 483px;
  left: 1050px;
  top: 310px;
  border-radius: 30px;
}

.plntext {
  position: fixed;
  text-align: center;
  height: 64px;
  width: 483px;
  left: 1050px;
  top: 420px;
  border-radius: 30px;
}

.lsubmit {
  background-color: rgb(160, 238, 255);
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 30px;
  position: fixed;
  width: 150px;
  height: 60px;
  left: 1230px;
  top: 551px;
  font-size: 150%;
}

.lsubmit:hover {
  opacity: 8000%;
  color: rgb(27, 61, 255); /* Hover color */
}

span.psw {
  float: right;
  padding-top: 480px;
  padding-left: 150px;
}

.forgotbuttonlink {
  color: #5199ca; /* Link color */
  cursor: pointer;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: fixed;
  width: 150px;
  height: 60px;
  left: 1225px;
  top: 680px;
}

.forgotbuttonlink:hover {
  color: rgb(255, 255, 255); /* Hover color */
}

.sbuttonlink {
  color: #5199ca; /* Link color */
  padding: auto;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 30px;
  position: fixed;
  width: 250px;
  height: 60px;
  left: 1200px;
  top: 731px;
}

.sbuttonlink:hover {
  color: rgb(255, 255, 255); /* Hover color */
}

.containerlog {
  position: fixed;
  top: 100px;
  left: 955px;
  width: 680px;
  height: 750px;
  background-color: rgba(3, 42, 82, 0.9);
  overflow: hidden;
  border-radius: 0%;
}
.logimage{
  position: fixed;
  top: 100px;
  left: 280px;
  width: 680px;
  height: 750px;
  background-color: transparent;
  overflow: hidden;
}